/*CSS for Media Kit Page. -- mmorley*/
@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

/*General Rules*/

body{
   background-color: #FFFFFF;
   color: #000000;
   cursor: crosshair;
   display: flex;
   flex-direction: column;
   text-align: left;
   justify-content: center;
   position: relative;
   font-family: 'Inter';
   z-index: 0;
}

/*Header Section*/
section.header-content{
   align-items: center;
   position: relative;
   top: 0em;
   font-weight: normal;
}

section.header-content div.title{
   align-items: center;
   display: flex;
   position: relative;
   left: 3em;
   width: 100%;
   box-sizing: border-box;
}

section.header-content h1{
   text-transform: uppercase;
   font-size: 3.3em;
   font-weight: normal;
}

section.header-content h2{
   text-transform: uppercase;
   padding-left: 2em;
   line-height: 1.4em;
   font-size: 1.1em;
   font-weight: bold;
}

section.header-content a{
   color: #000000;
   position: relative;
   left: 0em;
   text-align: right;
   text-transform: uppercase;
   text-decoration: none;
   text-align: right;
   line-height: 1.4em;
   font-size: 1.1em;
   cursor: pointer;
}

/*Main Content*/
section.main{
   color: #000000;
   margin: auto;
   width: 800px;
}

section.main h1{
   text-transform: uppercase;
   padding-left: 2em;
   line-height: 1.4em;
   text-align: left;
   font-size: 1.4em;
   font-weight: bold;
}

section.main h2{
   text-transform: uppercase;
   padding-left: 2em;
   line-height: 1.4em;
   font-size: 1.1em;
   font-weight: bold;
}

section.main h3{
   font-size: 1.5em;
   padding-left: 2.5em;
}

section.main div{
   padding-top: 0px;
}

section.main div.synopsis{
  color: #000000;
  z-index: 1;
}

section.main div.synopsis p{
   color: #000000;
   font-size: 1.4em;
   line-height: 1.5em;
   margin-bottom: 1em;
   padding-right: 1em;
}

section.main div.synopsis img{
   margin: auto;
   width: 800px;
   height: 480px;
   border: 5px solid #000000;
}

section.main div.synopsis section.trailer-laurels img{
   border: none;
   display: inline-flex;
   position: relative;
   left: 0em;
   width: 150px;
   height: 100px;
   align-items: flex-end;
}

section.main div.synopsis ul li{
   list-style-type: none;
   margin: none;
   line-height: 1.25em;
   font-size: 1.1em;
   width: 15em;
}

section.main div#artistbios p{
   font-size: 1.4em;
   line-height: 1.5em;
   margin-bottom: 1em;
   padding-right: 1em;
}


section.main div#artistbios img{
   width: 20%;
   height: 20%;
}

section.main div#stills img{
   width: 350px;
   height: 200px;
   display: inline;
}

section.main div#ss a{
   background-color: #32CD32;
   color: #FFFFFF;
   border-radius: 5px;
   margin-top: 5px;
   padding: 5px 5px 5px 5px;
   position: relative;
   top: 10px;
}

section.main div#ss a:hover{
   background-color: #00AA00;
}

section.main div#ss ul li{
   list-style-type: none;
   text-align: left;
   line-height: 1.25em;
   font-size: 1.1em;
   margin: none;
   width: 450px;
}

section.main div#ss ul li p.date{
   font-size: 1.1em;
   font-style: italic;
}

section.main div#pr ul li{
   list-style-type: none;
   margin: auto;
   width: 800px;
}

section.main section.navbox{
   /*background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
*/
   position: fixed;
   top: 10em;
   left: 0px;

   z-index: 0;
}

section.main section.navbox div.navlink{
   border-top: none;
   width: 160px;
   padding: 5px;
   margin: 10px;
   font-size: 2.5em;
   text-transform: uppercase;
   font-weight: 300;
   font-style: normal;
}

section.main section.navbox div.navlink a:link{
   color: #000000;
   display: flex;
   justify-content: flex-start;
   word-wrap: break-word;
   text-decoration: none;
   width: 200px;
}

section.main section.navbox div.navlink a:visited{
   color: #000000;
   text-decoration: none;
   width: 350px;
}

/*Footer Section*/
section.footer{
   margin: auto;
   width: 100%;
}

section.footer div{
   padding: 5px;
}

section.footer h1{
   font-size: 50px;
   position: absolute;
   bottom: -1em;
   left: 3.5em;
}

section.footer div.container{
   background-color: #FFFFFF;
   height: 70px;
   width: 100%;
   position: fixed;
   bottom: 0px;
}

section.footer div#contact{
   /*background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
   */
   background-color: rgba(0, 0, 0, 0.0);
   display: flex;
   position: fixed;
   width: 100%;
   bottom: 1.5em;
   align-items: center;
   z-index: 9;
}

section.footer div#social{
   background-color: rgba(0, 0, 0, 0.0);
   display: flex;
   position: fixed;
   bottom: 20px;
   width: 100%;
   align-items: center;
   z-index: 9;
}

section.footer div#social img{
   display: flex;
   align-items: center;
   width: 25px;
   height: 25px;
   padding-left: 10px;
   border-radius: 5px;
   position: relative;
   bottom: 0.5em;
}

section.footer div.laurels{
   position: absolute;
   right: 3em;
   bottom: -1em;
}

section.footer div#social img.laurel{
   display: inline;
   width: 90px;
   height: 60px;
}

section.footer div#other ul li{
   margin: auto;
   width: 800px;
   list-style-type: none;
}

section.footer div#contact h1{
   font-style: normal;
   padding-right: 10px;
}

section.footer div#contact form{
   background-color: #32CD32;
   color: #FFFFFF;
   margin: auto;
   width: 350px;
   padding: 5px 0px 5px 0px;
   border-radius: 5px;
   position: relative;
   bottom: -0.6em;
   left: 5em;
}

section.footer div#contact form strong{
   position: relative;
   left: 2px;
}

section.footer div#contact p{
   position: relative;
   bottom: -1em;
   left: 33em;
   font-size: 0.8em;
   text-align: right;
   padding-right: 10px;
}

section.footer div#contact form button{
   background-color: #000000;
   color: #FFFFFF;
   position: relative;
   border-radius: 5px;
   cursor: pointer;

   font-weight: bold;
}

section.footer div#contact img{
   display: inline;
   width: 150px;
   height: 100px;

   margin: auto;
   padding-top: 10px;
}

/* Animations */

@media(prefers-reduced-motion: no-preference){
   div#social img.social:hover{
      animation: img-highlight infinite 1s linear;
  }

   section.main section.navbox div.navlink a:hover{
       animation: txt-highlight infinite 1s linear;
   }

   section.main div#ss a:hover{
      animation: btn-highlight infinite 1s linear;
   }
}

@keyframes img-highlight{
   0% {
       filter: contrast(100%);
   }
   50% {
       filter: contrast(300%);
   }
   100% {
       filter: contrast(100%);
   }
}

@keyframes txt-highlight{
   0%{
       color: #000000;
   }
   50%{
       color: #77AACC;
   }
   100%{
       color: #000000;
   }
}

@keyframes btn-highlight{
   0%{
       color: #32CD32;
   }
   50%{
       color: #FFFFFF;
   }
   100%{
       color: #32CD32;
   }
}

/*Mobile Adjustments -- mmorley*/
@media(max-width: 640px){
   body{
      text-align: left;
      padding-left: 0em;
   }

   body p{
      width: 40%;
      position: relative;
      left: 0em;
   }

   section.header-content div.title{
      display: block;
      position: relative;
      left: 2em;
      align-items: flex-start;
      margin-bottom: 0em;
   }

   section.header-content a{
      color: #000000;
      text-decoration: none;
   }

   section.header-content div.title h1{
      margin-bottom: .2em;
   }

   section.header-content div.title h2{
      font-size: 80%;
      margin-bottom: 1em;
      padding-left: 0px;
      line-height: 1.6em;
   }

   section.main{
      margin: auto;
      text-align: center;
   }

   section.main h3{
      position: relative;
      left: -10em;
   }

   section.main div.synopsis p{
      text-align: left;
      position: relative;
      left: 1em;
   }

   section.main div.synopsis div.video iframe{
      position: relative;
      left: -12em;
      width: 50%;
      height: 180px;
   }
   
   section.main div.synopsis section.trailer-laurels img{
      position: relative;
      left: -13em;
   }
   
section.main div.synopsis ul li{
   text-align: left;
}
   section.main section.navbox{
      background-color: white;
      text-align: left;
      position: fixed;
      bottom: 10%;
      word-wrap: break-word;
      width: 21%;
      height: 8em;
   }

   section.main section.navbox div.navlink{
      width: 10%;
   }

   section.main section.navbox div.navlink a{
      position: relative;
      right: 1.5em;
      font-size: 8px;
      font-weight: bold;
      width: 15%;
      word-wrap: break-word;
   }

   section.main div#artistbios img{
      position: relative;
      left: -12em;
   }

   section.main div#artistbios p{
      position: relative;
      text-align: left;
      left: 1em;
   }

   section.main div#stills img{
      display: inline;
      position: relative;
      left: -12em;
      width: 20%;
      height: 100px;
   }

   section.main div#ss a{
      width: 40%;
      word-wrap: break-word;
   }

   section.main div#ss nav#shows{
      position: relative;
      left: 0em;
      width: 50%;
   }

   section.footer div#contact{
      color: #000000;
      font-size: 90%;
   }

   section.footer div.container{
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 105px;
   }

   section.footer div#contact h1{
      position: relative;
      bottom: -2em;
      left: 1em;
      font-size: 20px;
   }

   section.footer div#contact p{
      font-size: 10px;
      position: relative;
      bottom: -4.5em;
      left: 4em;
      width: 35%;
   }

   section.footer div#contact form{
      text-align: center;
      position: absolute;
      bottom: 1em;
      left: 11em;
      width: 40%;
   }

   section.footer div#contact form input{
      width: 50%;
   }

   section.footer div.container div#contact form button{
      width: 80%;
      font-size: 80%;
   }

   section.footer div.container div#social div.laurels img{
      display: block;
      position: relative;
      left: 2em;
      bottom: 0em;
      width: 60px;
      height: 40px;
   }
}
