.mailChimpTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.mailChimpForm {
  margin: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center 
}
.mailChimpInput {
  width: 100%;
  padding: 8px 10px;
  border: 3px solid #000;
  font-size: 14px;
  flex: 0 0 55%;
  border-radius: 5px;
  font-size: 14px;
}
.mailChimpSubmit {
  margin-left: 8px;
  border: none;
  color: #fff;
  background-color: black;
  padding: 5px 15px;
  border-radius: 5px;
  flex: 0 0 calc(20% - 8px);
  width: 100%;
  font-size: 14px;
}
.footerErrorMessage, .footerSuccessMessage {
  margin-top: 10px;
}
.footerErrorMessage {
  color: #e90000;
}
.footerErrorMessage a {
  display:none;
}
.footerSuccessMessage {
  font-weight: 600;
}
@media only screen and (max-width: 560px) {
  .mailChimpInput {
    flex: 0 0 100%;
  }
  .mailChimpSubmit {
    margin-left: 0px;
    margin-top: 8px;
    padding: 8px 15px;
  }
}